.container{
    margin-top: 60px;
    position: absolute;
    height: 90vh;
    color: white;
    overflow: auto;
}

.mainDetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.badge{
    width: fit-content;
    padding: 5px 5px;
    background-color: lightcoral;
    border-radius: 5px;
    &:not(:first-child){
        margin-top: 5px;
    }
}

.name{
    background-color: lightseagreen;
    padding: 5px 5px;
    border-radius: 5px;
}

.desc{
    background-color:orchid ;
    margin-top: 20px;
    padding: 5px 5px;
    border-radius: 5px;
}


