
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    word-wrap: break-word;
}

.mainContainer{
    padding: 0 50px;
}
@media(max-width:500px){
    .mainContainer{
        padding: 0 20px;
    }
}
::selection{
    background-color: rgb(38, 122, 143);
    color: white;
}   

.link-div{
margin-top: 20px;
}
.link{
    font-size: 20px;
    color: black !important;
}


.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    h3{
        font-size: 30px;
        color: white;
    }
    ul{
        list-style: none;
        a{
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}